{% extends 'mailing/base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Создание рассылки</h2>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="w-100 btn btn-sm btn-outline-success">Сохранить</button>
                                        <a href="{% url 'mailing:mailing_list' %}" class="w-100 btn btn-sm btn-outline-danger">Назад</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}