{% extends 'mailing/base.html' %}

{% block content %}
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Рассылка №  {{object.id}}</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Начало: {{object.start_time}}</li>
              <li>Конец: {{object.end_time}}</li>
              <li>Периодичность: {{object.period}}</li>
              <li>Статус: {{object.status}}</li>
              <li>Клиент: {{object.client}}</li>
            </ul>
            <a href="{% url 'mailing:off' object.pk%}" class="w-100 btn btn-sm btn-outline-danger">Отключить рассылку</a>
            <a href="{% url 'mailing:mailing_list'%}" class="w-100 btn btn-sm btn-outline-secondary">Назад</a>
          </div>
        </div>
      </div>
{% endblock %}