{% extends 'mailing/base.html' %}

{% block content %}

<div class="container">
    <div class="col-12 mb-5">
        <a class="w-100 btn btn-sm btn-outline-success" href="{% url 'blog:blog_create' %}">Добавить пост</a>
    </div>
    <div class="row text-center">
            {% for object in object_list %}
                <div class="col-12">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body" style="width: 90%;">
                            <p class="card-text">{{ object.title }}</p>
                            <p class="card-text">{{ object.body|truncatechars:70 }}</p>
                            <div class="d-flex justify-content-between align-item-center">
                                <div class="btn-group">
                                    <a href="{% url 'blog:blog_view' object.pk %}"
                                       class="btn btn-sm btn-outline-secondary">View</a>
                                    <a href="{% url 'blog:blog_update' object.pk %}"
                                       class="btn btn-sm btn-outline-secondary">Edit</a>
                                    <a href="{% url 'blog:blog_delete' object.pk %}"
                                       class="btn btn-sm btn-outline-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
{% endblock %}